*{
    margin: o;
    padding: 0;
}
/* .home-container{ */
    /* background-color: blue; */

    
/* } */

.home-container h1{
    margin-left: 30%;
    margin-top
    : -1%;
color:white;
font-size: 50px;
}

